.profile {
    width: 300px;
    box-shadow: 0 10px 10px rgb(228, 228, 228);
    border-radius: 10px;
    padding: 40px 20px;
    position: relative;
    margin-top: 120px;
}

.profile span {
    width: 200px;
    padding: 3px 10px;
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(129, 84, 0);
    background-color: rgba(255, 187, 0, 0.253);
    border-radius: 30px;
}

.profile img {
    position: absolute;
    content: "";
    height: 150px;
    width: 150px;
    border: 5px solid rgb(204, 204, 204);
    border-radius: 50%;
    top: -60%;
    left: 24%;
    object-fit: cover;
}