.Admin {
    padding-left: 40px;
    position: relative;
    color: rgb(19, 19, 184);
    z-index: 1;
}

.Admin:after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    inset: 0;
    border-radius: 50%;
    background-color: red;
    z-index: -1;
    top: 30%;
    left: 5%;
}

section {
    background-image: linear-gradient(160deg, rgba(211, 211, 253, 0.548), white);
}

.hero h1 {
    font-size: 3rem;
    font-weight: 900;
}

.hero h2 {
    font-size: 5rem;
    font-weight: 900;
}

.future {
    background-image: linear-gradient(to right, rgb(21, 0, 124), rgb(214, 0, 0));
    color: transparent;
    background-clip: text;

}

.contact-form {
    width: 70%;
    border: 1px solid whitesmoke;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
}

.contact {
    min-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 40px 40px 0 0;
    position: relative;
}

.contact::after {
    content: "";
    position: absolute;

}

@media (max-width : 600px) {
    .contact-form {
        width: 100%;
    }
}


/* Container */
.slider {
    width: 100%;
    overflow: hidden;
    background: #07122a;
    padding: 12px 0;
}

/* Moving track */
.slide-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
}

/* Each item */
.slide {
    color: white;
    font-weight: 600;
    margin-right: 60px;
    white-space: nowrap;
    letter-spacing: 1px;
}

/* Infinite animation */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}