h1 {
    font-size: 4rem;
    font-weight: 700;
}

ul li {
    font-size: 1.1rem;
    opacity: 0.8;
}

.Ad-parent {
    width: 100%;
    max-width: 900px;
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(0, 0, 46);
    background: linear-gradient(135deg, #060b1f, #0f1c3d 40%, #1b2a55);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.Ad-parent::after {
    content: "";
    position: absolute;
    height: 105%;
    width: 99%;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(135deg, rgba(120, 120, 255, 0.096), rgba(120, 120, 255, 0.11));
    transform: rotateZ(3deg) translate(-10px, -5px);
    transform-origin: left top;
    z-index: -1;
}


.Ad-parent>div {
    height: 100px;
    color: white;
    padding: 15px;
    background-color: rgba(250, 235, 215, 0.082);
    border-radius: 20px;
    display: flex;
    align-items: center;

}

.Ad-parent p {
    opacity: .8;
}

.Ad-parent i {
    color: black;
    font-size: 2rem;
    padding: 5px 10px;
    background-color: aqua;
    margin-right: 10px;
}


.count {
    background-color: rgba(214, 214, 213, 0.473);
    border-radius: 20px;
}

.count h1 {
    margin-bottom: 0;
    color: rgb(0, 0, 78);
}

.count p {
    margin-bottom: 0;
    color: rgb(145, 145, 145);
}

.count div {
    text-align: center;
}

@media (max-width : 500) {
    .count div {
        width: 100%;
    }
}