.contactSelect:active {
    box-shadow: 5px 5px 20px rgb(182, 179, 179);
}

.contactSelect {
    width: 100%;
    font-weight: 700;
    color: white;
    background-color: rgb(0, 56, 139);
    border: 1px solid rgb(206, 206, 206);
    padding: 5px 10px;
}