.HeadSelect:active {
    color: white;
    background-color: rgb(0, 56, 139);
    border: 1px solid rgb(206, 206, 206);
    border-radius: 50px;
}

.HeadSelect {
    color: rgba(1, 1, 83, 0.5);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(206, 206, 206);
    border-radius: 50px;
    padding: 5px 10px;
}